.stage {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;
}

.footer {
    font-size: 12px;
    max-width: 200px;
    text-align: center;
    line-height: 1.2em;
}

.intro {
    font-size: 18px;
    padding-bottom: 16px;
    font-weight: bold;
}

.logo {
    padding: 32px;
    box-sizing: border-box;
}

.logo img {
    display: block;
    max-width: 250px;
    height: auto;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}
